
.App {
height: 100vh;
display: flex;
flex-direction: column;
text-align: center;
}

.container{
  display:flex;
  height: 100%;
}

.menubar{
  flex:1;
  background-color: rgb(136, 136, 136);
  padding: 10px;
  display: flex;
  z-index: 10;

}

.menu-content{
align-items: center;
display: flex;
}

.menu-buttons{
  display: flex;
  justify-content: space-around;
  width: 100%;

  margin:0;
}
.menu-buttons li{
  margin: 0 10px;
}

.menu-buttons button{
  background-color: white;
  color: black;
  cursor: pointer;
  word-spacing: 2px;
  padding: 10px 20px;
  border:none;
  border-radius: 5px;
}

.map-area{
  flex-grow:1;
  position: relative;
  z-index: 0;
}


